/*info-list*/
.info-list {

  &__item {
    padding: 10px 18px;

    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: $grey-light;

    &:last-child {
      border-bottom-width: 1px;
    }

    &:hover,
    &:focus {
      background: $grey-lighter;
    }
  }

  &__change {
    float: right;

    margin-top: 8px;
  }
}
/*/info-list*/