/*select*/
.select {
  padding: 0 10px;
  box-sizing: border-box;
  height: 30px;

  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 30px;
  color: $grey-dark;
  outline: none;

  background: #fff;
  border: 1px solid $grey-light;
}
/*/select*/