/*settings*/
.settings {
  max-width: 970px;
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 21px;
  padding-left: 33px;
  padding-right: 17px;
  padding-bottom: 90px;

  background: linear-gradient(to right, #{$grey-lighter} 0px, #{$grey-lighter} 7px, #{$grey-light} 7px, #{$grey-light} 8px, #fff 8px, #fff 10px, #{$grey-light} 10px, #{$grey-light} 11px, #fff 11px, #fff 13px, #{$grey-light} 13px, #{$grey-light} 14px, #fff 14px);

  &__info {
    width: 66%;

    float: left;

    padding-top: 22px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__item {
    margin-bottom: 46px;

    @media (min-width: $width-sm + 1px) {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item-title {
    margin-bottom: 16px;
  }

  &__social {
    width: 32%;

    float: right;
  }

  @media (max-width: $width-sm) {

    &__info {
      float: none;

      width: auto;
    }

    &__social {
      float: none;

      width: auto;
    }
  }
}
/*/settings*/